body{
    font-family: 'Poppins', sans-serif;
}
.donate-btn{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 20px;